// main: ../app.scss

#cookies-modal-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  background-color: $secondary;
  width: 384px;

  .message {
    margin: 2em 2em 1.5em;

    p {
      color: $white;
      margin: 0 !important;
    }

    a {
      text-decoration: underline;
      cursor: pointer;
      color: $white;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;

    button {
      display: block;
      padding: 0.4em 0.8em;
      font-size: 0.9em;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      color: $white;
      border: none;
      width: 100%;
      height: 40px;
      cursor: pointer;
      outline: none;

      &.accept-cookies {
        background-color: $primary;
      }

      &.config-cookies {
        background-color: $secondary;
      }
    }
  }
}

#cookies-modal-configuration {
  overflow-y: auto;

  .modal-dialog {
    .modal-content {
      .modal-header {
        margin-top: -.2rem;
        padding: .5rem 1rem;

        .modal-title {
          padding-bottom: 0;
          text-transform: none;
        }

        h4 {
          font-size: 1.5rem;
        }
      }

      .modal-body {
        p {
          color: #4d4d4d;
          margin-bottom: 1.875rem;
        }

        .cookie-header {
          align-items: center;
          display: flex;
          color: #4d4d4d;
          font-size: 1rem;
          margin: 0 0 1rem 0 !important;

          span {
            margin-left: 5px;
          }

          .switch-label {
            font-weight: 400;
          }
        }
      }

      .modal-footer {
        border: none;
      }
    }
  }
}
